html,
body {
    height: 100%;
    background: #000;
    color: #fff;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.body-content {
    min-width: 600px;
}

.top-club, .bottom-club {
    min-width: 600px;
}

.top-club {
    min-height: 300px;
}

.top-club .dancezone, .top-club .right-wall {
    border-top: 2px solid #fff;
}

.bottom-club .dancezone, .bottom-club .right-wall {
    border-bottom: 2px solid #fff;
}

.bottom-club .cells {
    height: 100px;
}

.left-wall, .right-wall {
    border-right: 2px solid #fff;
    height: 100%;
}

.right-wall {
    border-left: 5px solid #fff;
}

.bottom-club .right-wall {
    border-top: 1px solid #fff;
}